<a href="https://colab.research.google.com/github/finr/data-analysis-class/blob/master/06_Bad_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exemplos

In [0]:
import pandas as pd
a = pd.Series([1,2,3,float('NaN'),None])
print(a.isnull())

In [0]:
base_dict = {'A':[1,2,float('NaN')], 'B':[float('NaN'),3,4]}
b = pd.DataFrame(base_dict)
print(b)
print(b.isnull())
print(b.notnull())
print(b.dropna())

### Carregamento de dados

In [0]:
# Identificação de valores nulos em um DataFrame
import pandas as pd
from s3fs import S3FileSystem
s3 = S3FileSystem(anon=True)

details = s3.ls('cesarschool-data-samples/sample01')

with s3.open(details[1], 'rb') as f:
    df = pd.read_csv(f)

### Identificação de valores nulos

In [0]:
# Quantidade total de registros
len(df)

In [0]:
# Quantidade de registros sem 
# nenhuma coluna nula
print(len(df.dropna()))
print(len(df))

In [0]:
# Quantidade de country_codes nulos
len(df[df['country_code'].isnull()])

In [0]:
# Quantidade de country_codes, lat e lng nulos ao mesmo tempo
len(df[(df['country_code'].isnull()) & (df['lat'].isnull()) & (df['lng'].isnull())])

In [0]:
# Quantidade de lat e lng nulos
print ((len(df[df['lat'].isnull()]),len(df[df['lng'].isnull()])))

# Quantidade de registros com lat nulos e lng não nulos
print(len(df[(df['lat'].isnull()) & (df['lng'].isnull())]))

In [0]:
# Quantidade de user_ids nulos
print (len(df[df['user_id'].isnull()]))

In [0]:
# Quantidade de timestamps nulos
print (len(df[df['timestamp'].isnull()]))

### Identificação de valores anômalos

In [0]:
print(df[['lat','lng']].describe())

In [0]:
print(df['country_code'].describe())
print(df['country_code'].unique())

In [0]:
print(df[(df['country_code'].isnull()) & 
         (df['lat'].notnull()) & 
         (df['lng'].notnull())][['lat','lng']].head())

In [0]:
import pandas as pd
df['timestamp'] = pd.to_datetime(df['timestamp'])
print(df['timestamp'].describe())
print(df['timestamp'].max())
print(df['timestamp'].min())

In [0]:
print(df.dtypes)

In [0]:
df['timestamp_datetime'] = pd.to_datetime(df['timestamp'])

In [0]:
print(df['timestamp_datetime'].describe())

In [0]:
import datetime
data = datetime.datetime(2017,11,11,12,0,0)
print(data)
print(data.year)
print(data.month)
print(data.day)

In [0]:
df['year'] = df['timestamp'].apply(lambda x: x.year)

In [0]:
df['year'].describe()

In [0]:
print(df[['year','timestamp']].groupby('year').count())